<div class="box" th:fragment="content" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="col-12">
        <div class="box">
            <div class="box-body">
                <div class="table-responsive rounded card-table">
                    <table class="table border-no" id="example1">
                        <thead>
                        <tr>
                            <th>Doctor ID</th>
                            <th>Name</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Email</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Address</th>
                            <th>Gender</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">DOB</th>
                            <th>Blood Group</th>
                            <th>Image</th>
                            <th>Specialization</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Experience(Y)</th>
                            <th>Degree</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover-primary" th:each="doctor : ${doctors}">
                            <td th:text="${doctor.doctorId}"></td>
                            <td th:text="${doctor.fullName}"></td>
                            <td th:text="${doctor.email}" sec:authorize="hasRole('ROLE_ADMIN')"></td>
                            <td th:text="${doctor.address}" sec:authorize="hasRole('ROLE_ADMIN')"></td>
                            <td th:text="${doctor.gender}"></td>
                            <td th:text="${doctor.dob}" sec:authorize="hasRole('ROLE_ADMIN')"></td>
                            <td th:text="${doctor.bloodGroup}"></td>
                            <td th:text="${doctor.image}"></td>
                            <td th:text="${doctor.specialization}"></td>
                            <td th:text="${doctor.department}"></td>
                            <td th:text="${doctor.designation}"></td>
                            <td th:text="${doctor.experienceYears}"></td>
                            <td th:text="${doctor.degree}"></td>

<!--                            <td><span class="badge badge-danger-light">New Patient</span></td>-->
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <div class="btn-group">
                                    <a class="hover-primary dropdown-toggle no-caret" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:href="@{/doctor/view/{id}(id=${doctor.id})}">View Details</a>
                                        <a class="dropdown-item" th:href="@{/doctor/edit/{id}(id=${doctor.id})}">Edit</a>
                                        <a class="dropdown-item" th:href="@{/doctor/delete/{id}(id=${doctor.id})}">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>